@model Movie

@{
    ViewData["Title"] = "Movie Details";
}

<style>
    body {
        background-image: linear-gradient(45deg, #1A2F40, #33425B);
        font-family: Candara, sans-serif;
    }

    .card-header {
        background-color: #F4D03F;
        color: #1A2F40;
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        font-family: Candara, sans-serif;
        border-bottom: 3px solid #1A2F40;
        padding: 20px;
        text-shadow: 2px 2px 2px black;
    }

    .movie-icon {
        font-size: 3.5rem;
        color: #F4D03F;
        margin-right: 10px;
    }

    .btn-random {
        background-color: #F4D03F;
        color: #1A2F40;
        border-radius: 25px;
        padding: 15px;
        font-size: 1.5rem;
        font-family: Candara, sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
        box-shadow: 15px 15px 10px black;
        transition: all 0.2s ease-in-out;
    }

        .btn-random:hover {
            transform: scale(1.1);
        }

    .card-body {
        background-color: #F0E68C;
        padding: 30px;
        border-radius: 0 0 15px 15px;
    }

        .card-body p {
            font-size: 1.3rem;
            font-weight: bold;
            text-shadow: 1px 1px 1px black;
            margin-bottom: 10px;
            font-family: Candara, sans-serif;
            
        }

        .card-body strong {
            color: #1A2F40;
        }

    .card {
        box-shadow: 20px 20px 15px black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 28px;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <div class="card-header">
                    <i class="fas fa-film movie-icon"></i> 
                    <a href="@Model.Trailer" style="text-decoration-line:none" target="_blank">@Model.Title</a>
                </div>
                <div class="card-body">
                    <p><center><img src="@Model.Image" style="max-width: 100%; height: auto;"></center></p>
                    <p><strong>Year:</strong> @Model.Year</p>
                    <p><strong>Genre:</strong> @Model.Genre</p>
                    <p><strong>Directed by:</strong> @Model.Director</p>
                    <p><strong>Written by:</strong> @Model.Writers</p>
                    <p><strong>Rank:</strong> @Model.Rank</p>
                    <p><strong>Rating:</strong> @Model.Rating</p>
                    <p><strong>Description:</strong> @Model.Description</p>

                </div>
                <div class="text-center">
                    <form method="get" action="@Url.Action("Index", "Movie")">
                        <button type="submit" class="btn-random">
                            <i class="fas fa-redo"></i>
                            Generate Another Random Movie!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/33fa818d83.js" crossorigin="anonymous"></script>


